{
    "ecmaFeatures": {
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "rules": {
        "comma-dangle": [2, "never"],
        "no-dupe-args": 1,
        "no-dupe-keys": 1,
        "no-extra-parens": 2,
        "no-extra-semi": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": [2, { "skipComments": true }],
        "no-unreachable": 2,
        "no-unsafe-finally": 2,

        "complexity": 2,
        "consistent-return": 1,
        "curly": 2,
        "dot-location": [2, "property"],
        "no-empty-function": 1,
        "no-floating-decimal": 2,
        "no-multi-spaces": 2,
        "no-unused-vars": 1,

        "array-bracket-spacing": 2,
        "block-spacing": 2,
        "brace-style": [2, "1tbs"],
        "comma-spacing": [2, { "before": false, "after": true }],
        "comma-style": [1, "last"],
        "eol-last": 2,
        "indent": 2,
        "key-spacing": [2, { "afterColon": true }],
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "object-curly-spacing": [2, "never"],
        "quotes": ["error", "single", {"avoidEscape": true}],
        "semi-spacing": [2, {"before": false, "after": true}],
        "space-before-function-paren": 2,
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "spaced-comment": 2
    },
    "globals": {
        "jQuery": true,
        "$": true
    }
}
